<div class="row">
    <div class="col md-12 text-center">
        <h2>Add Employee</h2>
    </div>
     
    
    <div class="row"> 
        <div class="card">
        <form [formGroup]="addEmployee" novalidate class="form">
          <div class="row">
            <div class="col md-2"></div>
            <div class="col md-4">Full Name</div>
            <div class="col md-4">
                <input type="text" placeholder="Enter the fullname" formControlName="fullname" class="form-control">
            </div>
            <div class="col md-2"></div>
          </div>
          <div class="row">
            <div class="col md-2"></div>
            <div class="col md-4">Age</div>
            <div class="col md-4">
                <input type="number" placeholder="Enter the age" formControlName="age" class="form-control">
            </div>
            <div class="col md-2"></div>
          </div>
          <div class="row">
            <div class="col md-2"></div>
            <div class="col md-4">Email</div>
            <div class="col md-4">
                <input type="email" placeholder="abcdef@gmail.com" formControlName="email" class="form-control">
            </div>
            <div class="col md-2"></div>
          </div>
          <div class="row">
            <div class="col md-2"></div>
            <div class="col md-4">Password</div>
            <div class="col md-4">
                <input type="password" placeholder="password" formControlName="password" class="form-control">
                <i class="fa-solid fa-eye" id="eye"></i>
            </div>
            <div class="col md-2"></div>
          </div>

          <div class="row">
            <div class="col md-2"></div>
            <div class="col md-8">
                <button  class="btn btn-success" type="submit" (click)="onSubmit()">Add Employee</button>
            </div>
            <div class="col md-2"></div>
          </div>
        </form>
    </div>
</div>
</div>
